.welcomeContainer{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.startContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
}
